header{
    background: #bbbbbb;
    padding: 20px 0 ;
    
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
    
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

 nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.produtos{
    width: 880px;
    margin: 0 auto;
    padding: 40px  0 ;

}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 28%;
    vertical-align: top;   
    margin:  11px;
    padding: 1px 4px ;
    border: #000000 solid 2px ;
    

}

.produtos li:hover{
    border-color: #c78c19;
    font-size: 40px;
}

.produtos li:active{
    border-color: #088c19;
}

.produtos li:hover   h2 {
    font-size: 30px;
    
}



.produtos h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;

}


.descrição{
    font-size: 16px;
    padding: 9%;
}

.preços {
    font-size: 22px;
    font-weight: bold;
    margin: 80px 0 0;
    margin-top: 15px ;
    margin-bottom: 10px;
}


footer{
    text-align: center;
    background: url(bg.jpg) ;
    padding: 10px ;
    margin-top: 10px;
}

#copy{
    color:white;
    font-size: 20  px;
}